h3{
    margin-bottom: 0px;
}


svg {
    background-color: white;
}

path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.land.active {
    fill: #00FF00 !important;
}

.land {
  fill: #bbb;
}

.border {
  pointer-events: none;
  fill: none;
  stroke: #fff;
}

.border--district {
  stroke-width: .5px;
}

.border--state {
  stroke-width: 1.5px;
}

body{
     font-family: sans-serif;
     background-color: white;
     text-align: center;
     font-size: x-large;
}    

div.pollsBackground {
    padding:20px;
    background-color: white;
    font-size: 12px;
    display: block;
}

#polls{
    margin-left: auto;
    margin-right:auto;
    width:57%;
    height:150px;
    display:block;
    vertical-align:top;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

div.pollBox {
    display: inline-block;
}

#leftSide{
    float: left;
    text-align: left;
}
#rightSide{
    float: right;
    text-align: left;
}


div.blocksBackground {
    padding:20px;
    background-color: white;
}

div.delegateBox.active {
    background-color: #00FF00 !important;
}

div.delegateBox {
    display: inline-block;
    width: 20px;    
    margin: 5px 1px;
    background-color: #bbbbbb;
    vertical-align : bottom;
}


div.stateBox {
    display: inline-block;
    margin-right: 2px;
    background-color: #bbbbbb;
    vertical-align : middle;
    width : 5px;
    height : 15px;
}

div#stateBlocks{
    line-height : 75%;
}

div.stateBox.active {
    background-color: #00FF00 !important;
}

div.topbar{
    width:100%;
    background-color : blue;
}

div.topbar.active {
    background-color: #00FF00 !important;
}

#viz{
    background-color:white;
    width : 760px;
    display:inline-block;
}


#blocks{
    padding:0px;
    width:350px;
    display:inline-block;
    vertical-align:middle;
}

#caMap{
    display:inline-block;
    position:relative;
    vertical-align:middle;
    height:700px;
}

#california{
    width : 400px;
    height : 700px;
    display : inline-block;
}

#scaleobj{
    position:absolute;
    top:0px;
    right:0px;
    height:175px;
}

#minValue{
    position:absolute;
    right:35px;
    bottom:0px;
}

#maxValue{
    position:absolute;
    right:35px;
}

#scale{
    width:35px;
    height:175px;
    background-color:white;
    position:absolute;
    top:0px;
    right:0px;
}
